* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 4.5rem;
  background-color: #eee;
  box-shadow: 0 4px 6px #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

  h1 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
}
